#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-width: 800px;
}

.section-container {
  width: 100%;
  border: solid 1px #555;
  background-color: gainsboro;
  padding: 5px;
}

.alt {
  background-color: lemonchiffon;
}

.section-container h3 {
  font-weight: 500;
}

.body-container {
  font-family: 'Karla Variable', sans-serif;
  padding: 20px 0;
}

.button-container {
  font-size: 0.5rem;
  gap: 0.3em;
}

.button-container button {
  border: solid 2px darkolivegreen;
}

.button-container button.alt {
  border: none;
}

.title {
  font-size: 1.75em;
  font-weight: 600;
}
